.vs
ApiGateWays/ApiGateWay/obj
Microservices/Shared/ClassLibrary1/obj
Microservices/TrackHarbor/TrackHarbor.Application/obj
Microservices/TrackHarbor/TrackHarborApi/obj
Microservices/UserVaultApi/obj
obj
ApiGateWays/ApiGateWay/bin
bin
data
log
secrets
docker-compose.yml
Microservices/Auth/Authorization/.idea
**/.idea
docker-compose/output.txt
docker-compose/.env
terraform/secret.tfvars
*.zip
terraform/.terraform
.env
